[Desktop Entry]
Name=Cloudy AF
Comment=Configuration Tool for Vape Battery Mods with Arcticfox Firmware
Exec=cloudy-af
Icon=org.cloudy.af
Type=Application
Categories=Utility;Electronics;
Terminal=false
StartupWMClass=org.cloudy.af
